# ========================
# 🌍 Environment Settings
# ========================
ENVIRONMENT=local
CONTAINER=True
ALLOWED_ORIGINS="*"

# ========================
# 🔐 Authentication (JWT)
# ========================
# Paths to private/public keys (used for RS256 JWT signing)
AUTH_PRIVATE_KEY_PATH=keys/private.pem
AUTH_PUBLIC_KEY_PATH=keys/public.pem

# Token expiration time
ACCESS_TOKEN_EXPIRE_MINUTES=20

# Token issuer and audience
TOKEN_ISSUER=JANUX-server
TOKEN_AUDIENCE=JANUX-application

# ========================
# 📍 Token Endpoints
# ========================
USER_TOKEN_URL=/auth/login
ADMIN_TOKEN_URL=/auth/login

# ========================
# 🗄️ Database Configuration
# ========================
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE_NAME=users_db

# Initial user and admin account 
MONGO_INIT_ADMIN_EMAIL=super.admin@example.com
MONGO_INIT_ADMIN_PASSWORD=SuperAdminPassw0rd123!
MONGO_INIT_ADMIN_FULLNAME="Super Adminovski"
MONGO_INIT_ADMIN_ROLE=super_admin

MONGO_INIT_USER_EMAIL=test.user@example.com
MONGO_INIT_USER_PASSWORD=TestUserPassw0rd123!
MONGO_INIT_USER_FULLNAME="Test Userovski"
MONGO_INIT_USER_ROLE=user

# ========================
# 🇷 REDIS Configuration
# ========================
REDIS_HOST=localhost
REDIS_PORT=6379
